
/* common styled classes */
div.showable-container.question {background: url('https://vlsci.github.io/lscc_docs/includes/media/question-icon.png'); background-repeat: no-repeat; background-size: 24px 24px;}
div.showable-container.question div.showable-header {font-weight: bold;}
div.showable-container.question div.showable-header > span.link-like {color: #2fa4e7;}
div.question > div.showable-inner {margin-left: 26px;  min-height: 24px; padding-left: 3px; border-left: 1px solid #2fa4e7;}
div.showable-hidden.question > div.showable-inner { padding-left: 4px; border-left: 0;}

div.showable-container.quest {background: url('https://vlsci.github.io/lscc_docs/includes/media/question-icon.png'); background-repeat: no-repeat; background-size: 24px 24px;}
div.showable-container.quest div.showable-header {font-weight: bold;}
div.showable-container.quest div.showable-header > span.link-like {color: #2fa4e7;}
div.quest > div.showable-inner {margin-left: 26px;  min-height: 24px; padding-left: 3px; border-left: 1px solid #2fa4e7;}
div.showable-hidden.quest > div.showable-inner { padding-left: 4px; border-left: 0;}

div.showable-container.hint {background: url('https://vlsci.github.io/lscc_docs/includes/media/hint-icon.png'); background-repeat: no-repeat; background-size: 24px 24px;}
div.showable-container.hint div.showable-header > span.link-like {color: #2fa4e7;}
div.hint > div.showable-inner {margin-left: 26px;  min-height: 24px; padding-left: 3px; border-left: 1px solid #2fa4e7;}
div.showable-hidden.hint > div.showable-inner { padding-left: 4px; border-left: 0;}

div.showable-container.answer {background: url('https://vlsci.github.io/lscc_docs/includes/media/answer-icon.png'); background-repeat: no-repeat; background-size: 24px 24px;}
div.showable-container.answer div.showable-header > span.link-like {color: #2fa4e7;}
div.answer > div.showable-inner {margin-left: 26px;  min-height: 24px; padding-left: 3px; border-left: 1px solid #2fa4e7;}
div.showable-hidden.answer > div.showable-inner { padding-left: 4px; border-left: 0;}

div.showable-container.information {background: url('https://vlsci.github.io/lscc_docs/includes/media/info-icon.png'); background-repeat: no-repeat; background-size: 24px 24px;}
div.showable-container.information div.showable-header > span.link-like {color: #2fa4e7;}
div.information > div.showable-inner {margin-left: 26px;  min-height: 24px; padding-left: 3px; border-left: 1px solid #2fa4e7;}
div.showable-hidden.information > div.showable-inner { padding-left: 4px; border-left: 0;}

div.showable-container.indent {}
div.showable-container.indent div.showable-header > span.link-like {color: #2fa4e7;}
div.indent > div.showable-inner {margin-left: 26px;  min-height: 24px; padding-left: 3px; border-left: 1px solid #2fa4e7;}
div.showable-hidden.indent > div.showable-inner { padding-left: 4px; border-left: 0;}
